.git
.svn

*.pyc
.DS_Store

.vscode
node_modules

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

.gitignore
.editorconfig
.github/
docs/